<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Inventory</a>
    <a href="#">Purchase Request</a>
    <a href="#">CAD Storage</a>
  </div>
</div>
