<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
body {
  background: url("images/background1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial;
}
/* Style tab links */
.tablink {
  background-color: #647a7a;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px 16px;
  font-size: 17px;
  width: 25%;
  transition: 0.3s;
}

.tablink:hover {
  background-color: #a8c1bd;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: none;}
#News {background-color: none;}
#Contact {background-color: none;}
#About {background-color: none;}
</style>
</head>
<body>
  <div class="w3-container">
    <img src="/images/oceanbar.jpg" onclick="window.location.href = '/';" alt="waves" class="w3-hover-grayscale" style="width:100%">
  </div>
  <button class="tablink" onclick="window.location.href = '/inventory';">Inventory</button>
  <button class="tablink" onclick="window.location.href = '/purchase';">Purchase Request</button>
  <button class="tablink" onclick="window.location.href = '/cad';">Autodesk CADs</button>
  <button class="tablink" onclick="window.location.href = '/analytics';">Analytics</button>

</body>
</html>
