<!--
<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
  <style>
    body {
      background: url("images/background1.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Arial;
    }

  .tab {
    overflow: auto;
    border: none;
    background-color: #d0e8e4;
  }

  .tab button {
    background-color: #f2f9f8;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 120px;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab button:hover {
    background-color: #95c1c1;
  }

  .tab button.active {
    background-color: #95c1c1;
  }

  .tabcontent {
    display: none
    padding: 6px 12px;
    border: none;
    border-top: none;
  }
  </style>
</head>

<body>
<div class="w3-container">
  <img src="/images/oceanbar.jpg" alt="waves" class="w3-hover-grayscale" style="width:100%">
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="tab">
  <button class="tablinks" onclick="window.location.href = '/';">Inventory</button>
  <button class="tablinks" onclick="opentab(event, 'tab_purchase')">Purchase Request</button>
  <button class="tablinks" onclick="opentab(event, 'tab_cad')">Autodesk CADs</button>
  <button class="tablinks" onclick="opentab(event, 'tab_analytics')">Analytics</button>
</div>

<div id="tab_inventory" class="tabcontent">
    <style>
      .table-wrapper {
          margin-top: 200px;
        }
        .item-img {
          width: 40px;
          height: 40px;
        }
        .add-item-form {
          margin-top: 50px;
        }
    </style>
    <div class="page-wrapper">
      <nav class="navbar navbar-light bg-light">
        <div style="text-align:center">
          <a class="float-right" href="/add" title="Add a New Item">+ Add an Item</a>
        </div>
      </nav>
    </div>
</div>

<div id="tab_purchase" class="tabcontent">
  <p> <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe3jMn5hmA268GOdyBpQp1z_X9HltBffpNbGD3PzFhcI5cZCg/viewform?embedded=true" width="640" height="1795" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> </p>
</div>

<div id="tab_cad" class="tabcontent">
  <p>CAD</p>
</div>

<div id="tab_analytics" class="tabcontent">
  <p>123</p>
</div>

</body>

<script>
function opentab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
