<!doctype html>
<html lang="en">

<img src="/images/oceanbar.jpg" class="" alt="">
<img src="/images/oceanbar.jpg" alt="Lights" style="width:100%">

<style>
    .table-wrapper {
        margin-top: 200px;
    }

    .item-img {
        width: 40px;
        height: 40px;
    }

    .add-item-form {
        margin-top: 50px;
    }
</style>


<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" ><a href="/">VCS MATE ROV Inventory System</a></span>
        <a class="float-right" href="/add" title="Add a New Item">+ Add an Item</a>
    </nav>
