<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-item-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="item_name" id="item_name" placeholder="Item Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="location" id="location" placeholder="Location" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="item_details" id="item_details" placeholder="Additional Details" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" required>
                </div>
                <div class="form-group col-md-6">
                    <select id="position" name="position" class="form-control" required>
                        <option selected disabled>Choose Type</option>
                        <option>Material</option>
                        <option>Power Tool</option>
                        <option>Screws</option>
                        <option>Hand Tool</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="item-img"><b>Diagram</b></label><br>
                    <input type="file" name="image" id="item-img" class="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Item</button>
        </form>
    </div>
</div>
</body>
</html>
