<% include partials/header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-item-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="item_name" id="item_name" placeholder="Item Name" required>
                </div>
                <div class="form-group col-md-6">
                    <select id="category" name="category" class="form-control" required>
                        <option selected disabled>Choose Category</option>
                        <option>Material</option>
                        <option>Power Tool</option>
                        <option>Screws</option>
                        <option>Hand Tool</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="manufacture" id="manufacture" placeholder="Vendor">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="model_number" id="model_number" placeholder="Model">
                </div>
                 <div class="form-group col-md-4">
                    <input type="number" step="0.01" class="form-control" name="price" id="price" placeholder="Price">
                </div>
                 <div class="form-group col-md-4">
                    <input type="number" class="form-control" name="count" id="count" placeholder="Quantity" required>
                </div>
                
                <div class="form-group col-md-6">
                    <select id="location" name="location" class="form-control" required>
                        <option selected disabled>Choose Location</option>
                        <option>Huber Cave</option>
                        <option>Ocean Cabinet 1</option>
                        <option>Ocean Cabinet 2</option>
                        <option>Ocean Cabinet 3</option>
                        <option>Ocean Cabinet 4</option>
                        <option>Ocean Cabinet 5</option>
                        <option>Storage Room</option>
                        <option>In Transaction</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="item-img"><b>Image</b></label><br>
                    <input type="file" name="image" id="item-img" class="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Item</button>
        </form>
    </div>
