<% include partials/header.ejs %>
<div id="tab_analytics" class="container">
  <% items.forEach((item, index) => { %>
  <% if (item.count < 3) { %>
      <p class="running out"><%= message %></p>
  <% } %>
  <% } %>
</div>
