<% include partials/header.ejs %>
<div id="tab_cad" class="container">
</div>
<style>
body {
  background: url("images/construction.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial;
}
</style>
