<% include partials/header.ejs %>
<body>
<br>
<br>
<br>
<center>
<div id="tab_purchase" class="container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe3jMn5hmA268GOdyBpQp1z_X9HltBffpNbGD3PzFhcI5cZCg/viewform?embedded=true" style="width:1140px; height:1695px;" frameborder=0 marginheight=0 marginwidth=0>Loading...</iframe>
</div>
</center>
</body>
